<ul id="profile-activity-list">
  {% for event in activity_events %}
    {% include 'dashboard/partials/activity_item.html' %}
  {% endfor %}
</ul>
{% if activity_has_more %}
<div id="profile-activity-load-more" class="text-center pt-2" x-init="$nextTick(() => lucide.createIcons())" @ajax:before.stop>
  <a
    href="{% url 'users_ui:profile_activity_feed' username=profile_user.username %}?{% if activity_source %}source={{ activity_source }}&{% endif %}offset={{ activity_next_offset }}"
    class="btn btn-ghost btn-sm gap-2"
    x-target="profile-activity-list profile-activity-load-more"
  >
    <i data-lucide="chevrons-down" class="w-4 h-4"></i>
    Show older activity
  </a>
</div>
{% else %}
<div id="profile-activity-load-more" x-init="$nextTick(() => lucide.createIcons())"></div>
{% endif %}
