{% comment %}
Rows of the sidebar accounts menu (ui/partials/context_menu_panel.html): one
per account, opening its settings, then "Add account".
{% endcomment %}
<ul class="menu menu-sm p-0">
  <template x-for="account in accounts" :key="account.uuid">
    {% include "ui/partials/context_menu_item.html" with icon="settings" label_expr="account.display_name || account.email" click="accountsMenuAction('edit', account)" only %}
  </template>
  <hr class="my-1 border-base-300" x-show="accounts.length" />
  {% include "ui/partials/context_menu_item.html" with icon="mail-plus" label="Add account" click="accountsMenuAction('add')" only %}
</ul>
