{% comment %}
User avatar partial - displays user avatar image or initials fallback
Parameters:
  - user: The user object
  - size: '2xs', 'xs', 'sm', 'md', 'lg' (default: 'md')
  - show_ring: Boolean to show ring around avatar (default: False)
{% endcomment %}
{% if size == '2xs' %}
  {% with size_class='w-5 h-5 text-[10px]' %}{% include "ui/partials/_user_avatar_inner.html" %}{% endwith %}
{% elif size == 'xs' %}
  {% with size_class='w-6 h-6 text-xs' %}{% include "ui/partials/_user_avatar_inner.html" %}{% endwith %}
{% elif size == 'sm' %}
  {% with size_class='w-8 h-8 text-xs' %}{% include "ui/partials/_user_avatar_inner.html" %}{% endwith %}
{% elif size == 'lg' %}
  {% with size_class='w-16 h-16 text-xl' %}{% include "ui/partials/_user_avatar_inner.html" %}{% endwith %}
{% else %}
  {% with size_class='w-10 h-10 text-sm' %}{% include "ui/partials/_user_avatar_inner.html" %}{% endwith %}
{% endif %}
